<template>
  <table class="table rowSpacing is-fullwidth">
    <col width="50%">
    <col width="50%">
    <thead>
    <tr>
      <th>Savoirs-Etre</th>
      <th>Savoirs-Généraux</th>
    </tr>
    </thead>
    <tbody>
      <savoir-competence :savoirs="savoirsEtre" :idElem="null" :idComp="compId" :Type="1" :propsPlaceHolderByType="'Savoir-Etre'"></savoir-competence>

      <savoir-competence :savoirs="savoirsGeneraux" :idElem="null" :idComp="compId" :Type="2" :propsPlaceHolderByType="'Savoir-Généraux'"></savoir-competence>
    </tbody>
  </table>
</template>

<script>
  import axios from 'axios';
  import SavoirCompetence from '@/components/form/competence/SavoirCompetence';

  export default {
    components: {
      'savoir-competence': SavoirCompetence,
    },
    props: ['idComp'],
    data() {
      return {
        compId: '',
        savoirsEtre: [],
        savoirsGeneraux: [],
      };
    },
    methods: {
      getSavoir(idComp) {
        axios.get(`/api/GetSavoirsByIdCompetence/${idComp}`,
          { headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
            // ajout attribut focus pour afficher le delete seulement sur hover
            // dans la vue SavoirCompetence.vue
              response.data[i].focus = false;
              if (response.data[i].Type === 1) {
                this.savoirsEtre.push(response.data[i]);
              } else if (response.data[i].Type === 2) {
                this.savoirsGeneraux.push(response.data[i]);
              }
            }
          }).then(() => {
            this.sortListes();
          });
      },
      sortListes() {
        this.savoirsEtre = this.savoirsEtre.sort((a, b) => a.No - b.No);
        this.savoirsGeneraux = this.savoirsGeneraux.sort((a, b) => a.No - b.No);
      },
    },
    created() {
      this.getSavoir(this.idComp);
      this.compId = this.idComp;
    },
  };
</script>
