<template>
  <div class="container">
    <!--<div class="level">-->
      <!--<title-page :propsTitle="'Analyse de compétence'"></title-page>-->
      <!--<div class="level-item level-right">-->
        <!--<div class="field">-->
          <!--<div class="control">-->
            <!--<div class="select">-->
              <!--<select v-model="indexOption"  @change="selected" id="listeComp">-->
                <!--<option selected value="">Choisir une compétence</option>-->
                <!--<option v-for="(option, index) in options" :value="index" :key="option.Id">{{ option.Code }} {{ option.Enonce }}</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="select">-->
      <!--<select multiple v-model="indexOption"  @change="selected" id="listeComp" :size="options.length">-->
        <!--<option v-for="(option, index) in options" :value="index" :key="option.Id" class="is-size-5">{{ option.Code }} {{ option.Enonce }}</option>-->
      <!--</select>-->
    <!--</div>-->
    <table class="table is-bordered is-hoverable is-fullwidth">
      <thead>
      </thead>
      <tbody>
        <tr v-for="(option, index) in options" :value="index" :key="option.Id" class="is-size-5">
          <td @click="getCompetenceParId(option.Id)">
            {{ option.Code }} {{ option.Enonce }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
    import axios from 'axios';
    import TitlePage from '@/components/static_rendering/TitrePage';

    export default {
      components: {
        TitlePage,
      },
      data() {
        return {
          options: [],
          indexOption: '',
          competenceSelectionnee: {},
        };
      },
      created() {
        this.getCompetences();
      },
      methods: {
        getCompetences() {
          axios.get('/api/Competences',
            { headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            }).then((response) => {
              for (let i = 0; i < response.data.length; i += 1) {
                this.options.push(response.data[i]);
              }
            });
        },
        getCompetenceParId(id) {
          axios.get(`/api/Competences/${id}`,
            { headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            }).then((response) => {
              this.competenceSelectionnee = response.data;
            }).then(() => {
              this.$emit('data-comp', this.competenceSelectionnee);
            });
        },
      },
    };
</script>

<style scoped lang="scss">

  td:hover{
    cursor: pointer;
  }
  /*#div-select-competence{*/
    /*margin-top:70px;*/
    /*height:100%;*/
    /*border:none*/
    /*!important;*/
    /*background-color:transparent*/
  /*}*/
</style>
