<template>
  <div class="hero is-small">
      <div class="hero-body">
           <br />
           <h1 class="title" id="titreComp">{{ codeCompetence }} {{ enonceCompetence }}</h1>
           <label class="checkbox label">
              Cette compétence est un processus: <input type="checkbox" id="processus" v-model="processusCompetence" @change="putProcessus">
           </label>
        </div>
   </div>
</template>

<script>
   import axios from 'axios';

   export default {
     props: ['enonceComp',
       'processusComp',
       'idComp',
       'codeComp',
       'competence'],
     data() {
       return {
         competenceData: {},
         enonceCompetence: '',
         processusCompetence: '',
         codeCompetence: '',
       };
     },
     methods: {
       putProcessus() {
         axios({
           method: 'PUT',
           url: `/api/Competences/${this.idComp}/Processus`,
           headers: {
             Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
           },
           dataType: 'json',
           contentType: 'application/json; charset=utf-8',
           data: {
             Code: '1000000000',
             Enonce: 'dsa',
             Obligatoire: false,
             Processus: this.processusCompetence,
           },
         }).then(() => {
           this.$parent.updateDBPopup('is-success', null);
         });
       },
       checkProcessus(val) {
         if (val === null) {
           return false;
         }
         return val;
       },
     },
     watch: {
       enonceComp(value) {
         this.enonceCompetence = value;
       },
       codeComp(value) {
         this.codeCompetence = value;
       },
       processusComp(value) {
         this.processusCompetence = this.checkProcessus(value);
       },
     },
     created() {
       this.enonceCompetence = this.enonceComp;
       this.codeCompetence = this.codeComp;
       this.processusCompetence = this.checkProcessus(this.processusComp);
     },
   };
</script>
