<template>
    <div class="column is-scrollable">
      <!--<h1 class="box title is-4">Logigramme de compétences-->
        <!--<button :data-balloon="textHoverCibles" data-balloon-pos="left"-->
                <!--data-balloon-length="medium" id="" class="is-pulled-right button is-small">-->
          <!--<i class="fa fa-question" aria-hidden="true"></i>-->
        <!--</button>-->
      <!--</h1>-->

      <div class="columns is-gapless has-text-centered">
        <div class="column box is-radiusless is-2" v-for="(n, index) in cibles" :key="n.Id">
          <h5 class="title is-5 is-special-title"> {{ n.Session }} </h5>
          <div class="has-text-centered" style="width:100%;" :key="n.Id">
            <div :id='"div-enonce-" + n.Id' :myindex="index" @click="editionCiblesEnonce[index] = true"
                 :data-balloon="n.Enonce" data-balloon-length="large" data-balloon-pos="down">
              <p class="is-special-p" v-if="!editionCiblesEnonce[index]">
                 {{ n.Enonce }}
              </p>
              <textarea v-else v-model="n.Enonce" @blur="editionCiblesEnonceVide" @keyup.enter="editionCiblesEnonceVide"
                         class="textarea" placeholder="..." ></textarea>
            </div>
          </div>
        </div>
      </div>
      <draggable @end="endMove" :move="checkMove" v-model="comps" class="dragArea" :options="{group:1, ghostClass: 'ghost', animation: 1}">
        <div v-for="c in comps" :key="c.Id">
          <div class="column columns" v-if="parseInt(c.sessionDebut, 10) !== 1">
              <div :class="'column is-' + invisibleBlock(c.sessionDebut)"></div>
              <router-link :to="'/FormulaireCompetence/' +  c.IdCompetence"
                           :class="['column', 'box',
                           `is-${visibleBlock(c.sessionDebut, c.sessionFin)}`,
                           c.Couleur, {obligatoire: c.Obligatoire}]"
                           event="dblclick">
                <div style="overflow: hidden" > {{c.Code + ' : ' + c.Enonce}}
                  <a type="button" class="button is-pulled-right" @click="emitToParent(c)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                </div>
              </router-link>
          </div>
            <div v-else>
              <div class="column columns">
                <router-link :to="'/FormulaireCompetence/' +  c.IdCompetence"
                             :class="['column', 'box',
                             `is-${c.sessionFin * 2}`,
                             c.Couleur,
                             {obligatoire: c.Obligatoire}]"
                             event="dblclick" >
                  <div style="overflow: hidden"> {{c.Code + ' : ' + c.Enonce}}
                    <a type="button" class="button is-pulled-right" @click="emitToParent(c)">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </router-link>
              </div>
            </div>
          </div>
        <!--</div>-->
      <!--</div>-->
      </draggable>
    </div>
</template>

<script>
  import axios from 'axios';
  import draggable from 'vuedraggable';

  export default {
    components: {
      draggable,
    },
    props: ['propsCibles', 'propsProfil', 'compsProp'],
    data() {
      return {
        data: 0,
        cibles: [],
        comps: [],
        profil: {},
        editionCiblesEnonce: {
          0: false,
          1: false,
          2: false,
          3: false,
          4: false,
          5: false,
        },
        textHoverCibles: 'Cliques sur une cible pour la éditer',
        comp: {},
      };
    },
    created() {
      this.letStartComponent();
    },
    watch: {
      propsProfil(val) {
        this.profil = val;
        this.getCiblesFromAPI(this.profil.Id);
      },
      compsProp(val) {
        this.comps = val;
      },
    },
    methods: {
      emitToParent(pc) {
        this.$emit('setProfilCompetence', pc);
        this.$parent.getSession();
      },
      invisibleBlock(debut) {
        return (debut - 1) * 2;
      },
      visibleBlock(debut, fin) {
        return ((fin - debut) + 1) * 2;
      },
      letStartComponent() {
        this.profil = this.propsProfil;
        this.getCiblesFromAPI(this.profil.Id);
      },
      getCiblesFromAPI(id) {
        this.clearCibles();
        axios.get(`/api/CiblesParIdProfil/${id}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          })
          .then((response) => {
            if (response.data !== null) {
              for (let i = 0; i < response.data.length; i += 1) {
                if (!response.data[i].Session) {
                  response.data[i].Session = '...';
                }
                if (!response.data[i].Enonce) {
                  response.data[i].Enonce = '...';
                }
                this.cibles.push(response.data[i]);
              }
            }
          });
      },
      putCiblesToAPI(event) {
        const myIndexParentAttribute = event.target.parentNode.getAttribute('myindex');
        axios({
          method: 'PUT',
          url: '/api/Cibles/',
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: {
            IdProfil: this.profil.Id,
            Id: this.cibles[myIndexParentAttribute].Id,
            Enonce: this.cibles[myIndexParentAttribute].Enonce,
            Session: this.cibles[myIndexParentAttribute].Session,
          },
        }).then(() => {
          this.editionCiblesEnonce[myIndexParentAttribute] = false;
          this.$parent.updateDBPopup('is-success', null);
        }).catch((error) => {
          this.$parent.updateDBPopup('is-danger', error.response.data.ModelState);
        });
      },
      editionCiblesEnonceVide(e) {
        const myIndexParentAttribute = e.target.parentNode.getAttribute('myindex');
        if (!this.cibles[myIndexParentAttribute].Enonce) {
          this.cibles[myIndexParentAttribute].Enonce = '...';
        }
        // this.editionCiblesEnonce[myIndexParentAttribute] = false;
        this.putCiblesToAPI(event);
      },
      clearCibles() {
        this.cibles = [];
      },
      checkMove(evt) {
        if (evt.relatedContext.list.indexOf(evt.draggedContext.element) !== -1) {
          this.comp = evt.draggedContext.element;
        } else {
          this.comp = null;
        }
      },
      endMove() {
        if (this.comp !== null) {
          const posVertical = this.comps.indexOf(this.comp) + 1;
          axios({
            method: 'PUT',
            url: `/api/UpdateProfilsCompetenceMove/${this.comp.IdProfilCompetence}`,
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: {
              positionVertical: posVertical,
            },
          }).then(() => {
            this.$parent.updateDBPopup('is-success', null);
          });
        }
      },
    },
  };
</script>

<style scoped lang="scss">
  .is-session {
    border: 1px solid black;
  }

  .is-special-title{
    margin-bottom: .6rem;
  }

  .is-special-p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
    /*max-width: min-content;*/
    /*width: 5%;*/
    /*max-width: 5%;*/
    padding-left: .3rem;
    padding-right: .3rem;
  }

  .is-scrollable{
    overflow: auto;
  }

</style>
