<template>
  <div>
    <!-- Database update notification -->
    <div class="slider" v-bind:class="{ close: popupHide }">
        <article class="message is-info">
            <div class="message-header">
                <p>Succès</p>
            </div>
            <div class="message-body">
                Changement sauvergardé
            </div>
        </article>
    </div>
    <form-selection @data-champ-comp="passToChildren"></form-selection>
    <div v-if="afficherChamp">
      <edit-champ-competence :route="'ChampsCompetences'"
                             :objectToEdit="champCompetence"
                             :propsKeys="{ name: 'Enonce',
                             nameToString: 'Énoncé', couleur: 'Couleur',
                             couleurToString: 'Couleur' }"
                             @update-couleur-event="reloadCouleurListe"
                             :objectToEditToString="'champ de compétence'"></edit-champ-competence>
      <list-competence
        :propsUpdate="dataUpdateList"
        :idChamp="champCompetence.Id"></list-competence>
    </div>
    <pop-up-saved-corner-right-down :propsPopupHide="popupHide"
                                    :propsMessageClass="popupMessageClass"
                                    :propsMessageSuccessError="popupMessageContent"></pop-up-saved-corner-right-down>
  </div>
</template>

<script>
  import SelectionChampCompetence from '@/components/form/champ-competence/SelectionChampCompetence';
  import ListeCompetence from '@/components/form/champ-competence/ListeCompetence';
  import EditChampCompetence from '@/components/reactivity/EditChampOuProfil';
  import PopUpSavedCornerRightDown from '@/components/reactivity/PopUpSavedCornerRightDown';

  export default {
    data() {
      return {
        champCompetence: {},
        popupHide: true,
        afficherChamp: false,
        popupMessageClass: '',
        popupMessageContent: {},
        dataUpdateList: '',
      };
    },
    components: {
      'form-selection': SelectionChampCompetence,
      'list-competence': ListeCompetence,
      EditChampCompetence,
      PopUpSavedCornerRightDown,
    },
    methods: {
      passToChildren(champCompetence) {
        if (champCompetence !== '') {
          this.champCompetence = champCompetence;
          this.afficherChamp = true;
        } else {
          this.afficherChamp = false;
        }
      },
      updateDBPopup(stringClass, objectMessage) {
        this.popupHide = false;
        this.popupMessageClass = stringClass;
        this.popupMessageContent = objectMessage;
        setTimeout(this.closePopup, 2000);
      },
      closePopup() {
        this.popupHide = true;
      },
      reloadCouleurListe(color) {
        this.dataUpdateList = color;
      },
    },
  };
</script>

<style>

</style>
