<template>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Gestion Programme</strong> par
          <a href="http://darksite.com.br">
          Antoine Lachance,
            Christophe Lamarque,
            Phu Lam Nguyen,
            Marcelo Dos Santos,
            Alexandre Panneton et
            Rafael Nualart en collaboration avec Marc Levasseur
          </a>.
          <!--The source code is licensed-->
          <!--<a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content-->
          <!--is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.-->
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    data() {
      return {
      };
    },
  };
</script>

<style scoped lang="scss">


</style>
