<template>
  <section class="section">
    <!--<h1 class="title">Bienvenue!</h1>-->
    <!--<h2 class="subtitle">-->
      <!--Ici, nous aimons la simplicité et la convivialité. Au courant de ton parcours à travers l'application,-->
      <!--tu veras que tu trouveras des boutons avec des points d'intérrogation pour t'aider et te donner des-->
      <!--orientations. Pour la sauvegarde ne t'en fais pas tu ne seras pas oubligé(e) de faire une sauvegarde-->
      <!--avec un bouton, laisse nous nous en charger. Les sauvegardes se font à chaque modification qui est-->
      <!--apportée, alors tu peux te concentrer sur ce qui est vraiment important pour toi.-->
    <!--</h2>-->

    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Bonjour monde</p>
          <p class="subtitle">Nouveautés de 0.3.2</p>
          <div class="content">
            <ul>
              <li>
                Pouvoir copier un profil de sortie pour pouvoir prototyper
              </li>
              <li>
                Un visuel révisé et améliorer pour une expérience plus attrayante
                et fonctionnelle pour l'utilisateur
                <ul>
                  <li>
                    Les compétences obligatoires identifiés à l'aide d'une bordure grisée
                  </li>
                  <li>
                    Les champs de compétence ont une couleur qui les identifie
                  </li>
                </ul>
              </li>
              <li>
                Ajout de la gestion des cours avec les champs de compétences
              </li>
              <li>
                Ajout de l'authentification
              </li>
              <li>
                Inscription d'un nouvel utilisateur
              </li>
              <li>
                Envoi d'un courriel électronique à l'administrateur pour activation du compte
              </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Cégep de Maisonneuve</p>
          <p class="subtitle">Fièrement développer par des passionnés de l'informatique et de la physique</p>
          <div class="content">
            Des remerciements à Marc Levasseur pour nous donner la chance de pouvoir nous dépasser
            et de nous inculquer le sens de l'autonomie. C'est vraiment quelque chose qui est très
            important dans la vie mais surtout dans notre domaine d'études. Encore une fois merci!
            Et nous espérons que les prochaines générations pourront eux-aussi faire des projets aussi
            intéressants et surtout des projets qui perdurent dans le temps.
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Third column</p>
          <p class="subtitle">With some content</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          </div>
        </article>
      </div>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child box">
              <p class="title">Méthode de production Agiles</p>
              <p class="subtitle">Pour un production constante et qui vaut</p>
              <div class="content">
                <ul>
                  <li>
                    <a href="http://agilemontreal.ca/">Agile Montréal</a>
                  </li>
                  <li>
                    <a href="http://agilemanifesto.org/">Manifeste Agile</a>
                  </li>
                  <li>
                    <a href="https://fr.wikipedia.org/wiki/Manifeste_agile">Définition par Wikipédia</a>
                  </li>
                </ul>
              </div>
            </article>
            <article class="tile is-child box">
              <p class="title">Outils utilisés</p>
              <p class="subtitle">Une brève liste</p>
              <div class="content">
                <ul>
                  <li>
                    <a href="https://slack.com/intl/fr">Slack</a>
                  </li>
                  <li>
                    <a href="https://discordapp.com/">Discord</a>
                  </li>
                  <li>
                    <a href="https://trello.com/">Trello</a>
                  </li>
                  <li>
                    <a href="https://about.gitlab.com/">Gitlab</a>
                  </li>
                  <li>
                    <a href="https://www.jetbrains.com/webstorm/">Webstorm</a>
                  </li>
                  <li>
                    <a href="https://code.visualstudio.com/">VS Code</a>
                  </li>
                  <li>
                    <a href="https://www.visualstudio.com/downloads/">Visual Studio 2017</a>
                  </li>
                </ul>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">Ancienne équipe de développement</p>
              <p class="subtitle">Héé oui! Albert était parmis nous!!!</p>
              <figure class="image is-4by3">
                <img src="../../img/28584034_2003806626316005_1356114089_o.jpg">
              </figure>
            </article>
          </div>
        </div>
        <!--<div class="tile is-parent">-->
          <!--<article class="tile is-child box">-->
            <!--<p class="title">Wide column</p>-->
            <!--<p class="subtitle">Aligned with the right column</p>-->
            <!--<div class="content">-->
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>-->
            <!--</div>-->
          <!--</article>-->
        <!--</div>-->
      </div>
      <div class="tile is-parent">
        <!--<article class="tile is-child box">-->
          <!--<div class="content">-->
            <!--<p class="title">Tall column</p>-->
            <!--<p class="subtitle">With even more content</p>-->
            <!--<div class="content">-->
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>-->
              <!--<p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>-->
              <!--<p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</article>-->
        <article class="tile is-child box">
          <p class="title">Nouvelle équipe de développement</p>
          <p class="subtitle">Image à venir...</p>
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/640x480.png">
          </figure>
        </article>
      </div>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Side column</p>
          <p class="subtitle">With some content</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          </div>
        </article>
      </div>
      <div class="tile is-parent is-8">
        <article class="tile is-child box">
          <p class="title">Main column</p>
          <p class="subtitle">With some content</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          </div>
        </article>
      </div>
    </div>
  </section>
</template>
<script>

</script>
<style scoped lang="scss">

</style>
